<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmu.carsharing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- 百度地图的权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 允许拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 添加百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DiYicUKRmELHnnMj4MiIUkX9" />

        <!-- 百度定位服務! -->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".FindPositionActivity"
            android:label="@string/title_activity_find_position"
            android:theme="@style/StyleForNoActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PersonalCenterActivity"
            android:label="@string/title_activity_personal_center"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseAddressActivity"
            android:label="@string/title_activity_choose_address"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ChooseArrivalActivity"
            android:label="@string/title_activity_choose_arrival"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ShortWayActivity"
            android:label="@string/title_activity_short_way"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".CommuteActivity"
            android:label="@string/title_activity_commute"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LongWayActivity"
            android:label="@string/title_activity_long_way_main"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PersonCenterDetaillistActivity"
            android:label="@string/title_activity_person_center_detaillist"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CarsharingTypeActivity"
            android:label="@string/title_activity_carsharing_type"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PeronalinfoModifyActivity"
            android:label="@string/title_activity_peronalinfo_modify"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RegisterSecondActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".RegisterActivity"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ArrangementDetailActivity"
            android:label="@string/title_activity_arrangement_detail"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="longwaylist_fragmenttabhost.MainActivity"
            android:label="@string/title_activity_longway_list"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".OrderResponseActivity"
            android:label="@string/title_activity_order_response"
            android:parentActivityName=".PersonalCenterActivity"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RoutelineDisplayActivity"
            android:label="@string/title_activity_routeline_display"
            android:theme="@style/StyleForActionbarActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".ReOrderShortwayActivity"
            android:label="@string/title_activity_re_order_shortway" >
        </activity>
        <activity
            android:name=".ReOrderCommuteActivity"
            android:label="@string/title_activity_re_order_commute" >
        </activity>
        <activity
            android:name=".LongWayArrangementDetail"
            android:label="@string/title_activity_long_way_arrangement_detail" >
        </activity>
        <activity
            android:name=".Newyige"
            android:label="@string/title_activity_newyige" >
        </activity>
    </application>

</manifest>